html {
  display: block;
}

body {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  margin: auto;
  max-width: 75rem;
}

header {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
header img {
  height: 8rem;
}

.barderecherche {
  display: flex;
  height: 4rem;
  width: 100%;
  margin-bottom: 2rem;
}
.barderecherche input {
  border-radius: 0.313rem 0 0 0.313rem;
  border: none;
  margin: 0;
  padding: 1rem;
  width: 100%;
  background-color: #E7E7E7;
  font-size: 100%;
}
.barderecherche button {
  border: none;
  padding-right: 1rem;
  background-color: #E7E7E7;
  border-radius: 0 0.313rem 0.313rem 0;
}

main {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
  justify-content: center;
}

article {
  display: block;
  width: 360px;
}

.divvide {
  background-color: #C7BEBE;
  border-radius: 0.313rem 0.313rem 0 0;
  height: 9.375rem;
}

.sectioninfo {
  padding: 0.5rem 1rem 2rem 1rem;
  background-color: #E7E7E7;
  border-radius: 0 0 0.313rem 0.313rem;
  display: block;
}
.sectioninfo div {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin: 0;
}
.sectioninfo div .pname {
  display: block;
  font-size: 1.1rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.sectioninfo div .ptime {
  display: block;
  font-size: 1.1rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  flex-direction: row-reverse;
  margin-right: 0.1rem;
}
.sectioninfo div .fa-clock {
  margin-top: 0.9rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.sectioninfo aside {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  height: 110px;
  font-size: 12px;
}
.sectioninfo aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-self: start;
  font-size: 12px;
}
.sectioninfo .pdescription {
  height: 118px;
  margin: 0;
  overflow: hidden;
  width: 100%;
  display: block;
}

.divnoresult {
  font-size: 3rem;
  font-style: italic;
  grid-column: span 3;
  text-align: center;
  background-color: #edf1e9;
}

.played {
  display: block;
}

.unplayed {
  display: none;
}

.formfiltre {
  display: flex;
  height: 69px;
  width: 107px;
  margin-bottom: 1rem;
}
.formfiltre input {
  border: none;
  padding: 0 0 0 1rem;
  width: 100px;
  background-color: #3282F7;
  border-radius: 5px 0 0 5px;
}
.formfiltre input::placeholder {
  color: white;
}
.formfiltre button {
  border: none;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  color: white;
  background-color: #3282F7;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.playapp {
  grid-column: 1/span 6;
  grid-row: 2;
  margin-top: -2rem;
}
.playapp ul {
  position: absolute;
  align-items: center;
  display: grid;
  gap: 0.5rem 5rem;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: #3282F7;
  color: white;
  padding: 1rem;
  border-radius: 0 5px 5px 5px;
  margin: 0;
}
.playapp ul li {
  padding: 0rem 0rem 0rem 1rem;
  text-align: left;
  cursor: pointer;
  list-style-type: none;
}

.playusten {
  grid-column: 1/span 6;
  grid-row: 2;
  margin-top: -2rem;
  margin-left: -2rem;
}
.playusten ul {
  position: absolute;
  align-items: center;
  display: grid;
  gap: 0.5rem 5rem;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: #ED6454;
  color: white;
  padding: 1rem;
  border-radius: 0 5px 5px 5px;
  margin: 0;
  margin-left: 12.5rem;
}
.playusten ul li {
  padding: 0rem 0rem 0rem 1rem;
  text-align: left;
  cursor: pointer;
  list-style-type: none;
}

#searchusten {
  background-color: #ED6454;
  margin-left: -2rem;
}

#flecheusten {
  background-color: #ED6454;
}

#searching {
  background-color: #68D9A4;
  margin-left: -4rem;
}

#flecheing {
  background-color: #68D9A4;
}

.playing {
  grid-column: 1/span 6;
  grid-row: 2;
  margin-top: -2rem;
  margin-left: -4rem;
}
.playing ul {
  position: absolute;
  align-items: center;
  display: grid;
  gap: 0.5rem 5rem;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: #68D9A4;
  color: white;
  padding: 1rem;
  border-radius: 0 5px 5px 5px;
  margin: 0;
  margin-left: 25.1rem;
}
.playing ul li {
  padding: 0rem 0rem 0rem 1rem;
  text-align: left;
  cursor: pointer;
  list-style-type: none;
}

.filtres {
  align-items: center;
  display: grid;
  gap: 0rem 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
}

.mabarre {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.mabarre div {
  align-items: center;
  background-color: #3282F7;
  border-radius: 2px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: auto;
  height: 37px;
}
.mabarre div i {
  margin-left: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.mabarre div p {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
